// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
   -webkit-overflow-scrolling: touch;
   background-color: #fff;
}

body {
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
  @extend .text-normal;
  @include custom-scrollbar(5px, $pink);
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;

  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  transition: all .3s ease-in-out;
  color: inherit;
  &:hover {
    color: $pink;
  }
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

.section {
  &-top {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .section-heading {
      margin-right: 20px;
      @include mq(tablet) {
        white-space: nowrap;
      }
    }
  }
  &-decor {
    display: none;
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 100%;
    flex-grow: 1;
    @include mq(tablet) {
      display: block;
      height: 50px;
    }
  }
  &-subheading {
    margin-bottom: 10px;
  }
  &-heading {
    margin-bottom: 10px;
    color: $pink;
    text-transform: capitalize;
  }
}
.tooltip {
  position: relative;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  i {
    font-size: 14px !important;
    color: $grey !important;
  }
  &-content {
    position: absolute;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    @include element-hidden;
  }
  &:hover {
    i {
      color: $pink !important;
    }
    .tooltip-content {
      @include element-show;
    }
  }
}