// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$f-heading: 'Raleway', 'Arial', sans-serif !default;
$f-text: 'Montserrat', 'Arial', sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #333 !default;

/// Main brand color
/// @type Color
$pink: #ff1190 !default;
$yellow: #f4bd52 !default;
$black: #333 !default;
$grey: #ccc !default;

/// Container's maximum width
/// @type Length
$max-width: 1340px !default;

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  "phone-xsmall": 320px,
  "phone-s21": 360px,
  "phone-small": 375px,
  "phone": 425px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 992px,
  "desktop-small": 1024px,
  "desktop": 1200px,
  "desktop-wide": 1439px,
  "desktop-ultra": 1599px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
