.banner {
  position: relative;
  overflow: hidden;
  &--home {
    display: flex;
    align-items: center;
    justify-content: center;
    @include mq(tablet) {
      align-items: flex-end;
      height: vw(860px);
      max-height: 100vh;
    }
  }
  &--default {
    height: 100vh;
    @include mq(tablet) {
      height: vw(900px);
      max-height: 100vh;
    }
  }
  &--slider {
    .swiper-slide {
      @include mq(tablet) {
        height: vw(700px);
        max-height: 700px;
      }
    }
  }
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
  }
  &-content {
    position: relative;
    z-index: 1;
    @include when-inside('.banner--home') {
      margin-bottom: 50px;
      color: #fff;
      text-align: center;
      @include mq(tablet) {
        margin-bottom: 150px;
      }
    }
    @include when-inside('.banner--default') {
      margin-top: 30px;
      text-align: center;
      @include mq(tablet) {
        margin-top: 60px;
      }
    }
  }
  &-heading {
    @include when-inside('.banner--home') {
      text-shadow: 2px 2px 5px #000;
      span {
        color: $pink;
      }
    }
    @include when-inside('.banner--default') {
      margin-bottom: 25px;
      color: $pink;
      text-transform: capitalize;
    }
  }
  &-subheading {
    @include when-inside('.banner--home') {
      text-shadow: 2px 2px 5px #000;
    }
  }
  &-copy {
    margin-bottom: 25px;
  }
}