.content-slider {
  margin: 50px 0;
  @include mq(tablet) {
    margin: 100px 0;
  }
  .container {
    overflow: hidden;
  }
}
.content-slide {
  &__img {
    display: block;
    margin-bottom: 20px;
    height: 215px;
    border: 1px solid $pink;
    overflow: hidden;
    @include mq(tablet) {
      margin-bottom: 30px;
    }
    img {
      transition: all .5s ease-in-out;
    }
  }
  a.content-slide__img:hover {
    @include mq(tablet) {
      img {
        transform: scale(1.05);
      }
    }
  }
  &__content {
    margin-bottom: 20px;
    @include mq(tablet) {
      margin-bottom: 40px;
    }
    h6 {
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;
      color: $pink;
    }
  }
  &__heading {
    display: inline-block;
    margin-bottom: 5px;
    @extend .link;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    color: $pink;
  }
  .btn {
    display: block;
  }
}