.featured-video {
  padding: 30px 0;
  background: $yellow;
  @include mq(tablet) {
    padding: 70px 0;
  }
  &__inner {
    border: 1px solid $pink;
  }
  &__info {
    @include mq(tablet) {
      display: flex;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background-color: $pink;
    color: #fff;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include mq(tablet) {
      min-width: 340px;
    }
  }
  &__desc {
    padding: 15px 10px;
    background-color: #fff;
  }
}